body {
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  font-weight: bold;
}

section h2 {
  color: #333;
}

#somos img {
  max-height: 300px;
  object-fit: cover;
}

.card img {
  height: 250px;
  object-fit: cover;
}

footer {
  margin-top: 40px;
}